RewriteEngine On

# Jangan redirect file/folder yang memang benar-benar ada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Semua request diarahkan ke index.php
RewriteRule ^ index.php [QSA,L]
